*{
  /* border: 1px solid #b6b6b6; */
}

.browseHappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Lucida Grande, Tahoma;
}
.coloredBackground{
  background-color: #E9EAEE !important;
}

.WhiteBackground{
  background-color: #FFFFFF !important;
}

.bannerWithSiteLogo{
  padding : 1% 5% 1% 15%;
  background-color: #ffffff;
}
.footer{
  clear: both;
  position: relative;
  width: 100%;
  z-index: 10;
  height: 2em;
  /*
  top: 100%;
  margin-top: -2em;
  */
  text-align: center;
  vertical-align: middle;
  display: block;
  color: #afd9ee;
  background-color: #337ab7;
  padding-top: 3px;
}

.StateButton{
  font-family:"Lucida Grande";
  color: #46629D;
  font-size: 18px;
  background-image: url("./../images/tab.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-top: 2px solid #E9EAEE !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0 none;
  cursor: pointer;
}
.StateButton.active{
  color: #000;
  background-color: white;
  background-image: url("./../images/tabActive.png");
}

.EventOrganiser{
  font-family: "Lucida Grande";
  font-size: 11pt;
  color: #373737;
}
.EventOrganiserValue{
  font-family: "Lucida Grande";
  font-size: 13pt;
  color: #46629D;
  cursor: pointer;
}
.panel-heading{
  font-family: "Lucida Grande";
  font-size: 16pt;
  text-align: center;
}
.panel-body{
  font-family: "Lucida Grande";
  font-size: 12pt;
}

.transparencyLayer{
  opacity: 0.70;
  background-color: #FFFFFF;
  width: 100%;
  background-size:100% auto;
  float: none;
  z-index: 10;
  border-bottom: solid 1px #000000;
}

.transForNoBgImage{
  background: url("../images/headerbg.png");
  color: #ffffff;
  opacity: 1;
  background-color: #AE96C3;
  width: 100%;
  background-size:100% auto;
  text-align: center;
  float: none;
}

.FirstBannerText{
  margin-top: -4em;
  padding-left: 2em;
}

.bannerText{
  font-family:"Lucida Grande";
  font-size: 18pt;
  color: #000000;
  z-index: 19;
}

.EventBannerImage{
  width: 100%;
  margin-bottom: 20px;
  z-index: -1;
}

.MainOuter{
  background-color: #ffffff;
}

.tabSelector{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;

}
.showBorder{
  border: 1px solid black;
}

@media screen and (max-device-width : 480px)
{
  .tableBorder{
    border: 1px solid black;
    padding: 0;
  }
}
@media screen and (min-device-width : 1920px)
{
  .tableBorder{
    border: 1px solid black;
    padding: 35px;
  }
}

.MapView{
  margin-top: 15px;
  margin-bottom: 20px;
}

.eventTextWrapper{
  text-align: right;
  padding-right: 25px;
}

.eventText{
  margin-left: 3px;
  font-weight: 500;
  font-size: larger;
}

.blackRule{
  background-color: #000000;
  height: 1px;
}

.colouredHead, .colouredHead tr th{
  background-color: #2E608C;
  color: #FFFFFF;
  text-align: center;
  overflow-wrap: break-word;
}

.dataCell, .dataCell tr td{
  text-align: center;
  font-weight: 600;
  overflow-wrap: break-word;
}

.nav-sidebar{
  border: 1px solid #00d6b2;
}

.nav-sidebar-title{
  background-color: #00ebc5;
  padding-left: 5px;
}

.nav-pills li a{
  border: 1px solid mintcream;
  background-color: #9acfea;
  color: black;
}
.nav-pills li a:hover{
  border: 1px solid mintcream;
  background-color: #86b6cd;
  color: black;
}

.floatRight{
  float: right;
}

.RegCenterText{
  text-align: center;
  margin-bottom: 20px;
}

.disabled{
  background-color: #bfbfbf;
  color: black;
}

.activeFormBar, .activeFormBar:hover{
  background-color: #6146f7 !important;
  color: #f9f9f9;
}

.invalid-message{
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #FB0707;
}

/* Loading Spinner  SOURCE : http://codepen.io/MattIn4D */
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 30px;
  width: 30px;
  overflow: inherit;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*Loading Spinner css ends */

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
@media screen and (max-width: 480px) {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: 5px; margin-left: -15px; border-radius: 50%;}
}
@media screen and (min-width: 480px) {
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.notActive > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.notActive > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.notActive a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
