<div class="row coloredBackground" ng-cloak>
  <div class="col-md-10 col-md-offset-1 col-xs-12 WhiteBackground">
    <div class="container-fluid">
      <div class="row">
        <h3 class="RegCenterText">Participants Registrations</h3>
      </div>

      <!-- top nav {STEP Display} start -->
      <div class="row">
        <div class="col-md-12">
          <section class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-4 bs-wizard-step complete">
              <div class="text-center bs-wizard-stepnum">Participant Details</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Fill in details for all Participants.</div>
            </div>

            <div class="col-xs-4 bs-wizard-step complete"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Buyer Information</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Fill in Information for Billing</div>
            </div>

            <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Review Information</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot"></a>
              <div class="bs-wizard-info text-center">Verify Registration</div>
            </div>
          </section>
        </div>
      </div>
      <!-- COPY SECTION START-->
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-offset-1 col-md-10">
          <div class="main-area col-md-9">
            <div class="checkout-page-area">
              <div class="row">
                <div class="col-md-12">
                  <div class="about-us-title" style="border: 1px solid #DDD; padding: 10px;">
                    <h2>Buyer Details</h2>
                    <h5>Name  : {{BillingUserDetails['firstName']}}&nbsp;{{BillingUserDetails['lastName']}}</h5>
                    <!--<h5>Address: {{BillingUserDetails['Address']}}</h5>
                    <h5>Pincode: {{BillingUserDetails['zip']}}</h5>
                    <h5>City: {{BillingUserDetails['city']}}</h5>
                    <h5>Country: {{BillingUserDetails['country']}}</h5>-->
                    <h5>Mobile: {{BillingUserDetails['mobileNo']}}</h5>
                    <h5>Email : {{BillingUserDetails['email']}}</h5>
                  </div>
                </div>
              </div>
              <!-- Start content -->
              <div class="row">
                <div class="col-md-12">
                  <h2>Participant Summary</h2>
                  <table  class="table table-bordered table-hover" wt-responsive-table>
                    <tr>
                    <!--
                      <th ng-repeat="header in headers track by $index | orderBy:$index">
                        <span>{{header}}</span>
                      </th>
                    -->
                      <th>Participant</th>
                      <th>Category</th>
                      <th>Cost</th>

                    </tr>
                    <!--
                    <tr ng-repeat="listItem in ParticipantDetails">
                      <td ng-repeat="header in headers track by $index | orderBy:$index">
                        {{listItem[header]|date:'medium'}}
                      </td>
                    </tr>-->
                    <tr ng-repeat="listItem in ParticipantDetails">
                      <td>
                        <h4>
                          {{listItem['firstName']}}&nbsp;{{listItem['lastName']}}  <br>
                          <small>
                            {{listItem['mobileNo']}} <br>
                            {{listItem['email']}}
                          </small>
                        </h4>
                      </td>
                      <td><h4>{{listItem['ticketName']}}</h4></td>
                      <td>
                        <h4>{{listItem['ticketPrice']}}
                          <small ng-if="listItem['discount']">
                            <br> &minus; {{listItem['discount']}}
                            <br> &equals; {{listItem['ticketPrice']-listItem['discount']}}
                          </small>
                        </h4>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- Stop Content -->
          </div>
          <div class="col-md-3" style="border: 1px solid #DDD;">
            <div class="row" style="padding: 10px;">
              <h3>Order Summary</h3>
              <section ng-if='showDiscountButton && !IsDiscountApplied'>
                <table class="table table-bordered table-responsive">
                  <tr>
                    <th>Total</th>
                    <th>{{netCost}}</th>
                  </tr>
                </table>
                <button class="btn btn-primary btn-block" style="margin-top:5px;margin-bottom:5px" ng-click="ApplyDiscountOnClick()"
                        ng-disabled="IsDiscountButtonClicked">Apply Discount</button>
              </section>
              <section ng-if='IsDiscountApplied'>
                <table class="table table-bordered table-responsive">
                  <tr>
                    <th>Discount Successfully Applied !</th>
                  </tr>
                </table>
              </section>
              <div class="block-center table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th class="first_item">Price</th>
                    <th class="item mywishlist_second">{{NETCOST}}</th>
                  </tr>
                  <tr>
                    <th class="first_item">Discount</th>
                    <th class="item mywishlist_second">{{discount}}</th>
                  </tr>
                  <tr>
                    <th class="first_item">Total</th>
                    <th class="item mywishlist_second">{{discountedCost}}</th>
                  </tr>
                  </thead>
                </table>
                <button class="btn btn-warning btn-block" ng-disabled="IsSubmitButtonDisabled" ng-click='SaveThisInstanceData()' style="margin-top:5px;margin-bottom:5px">Place Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End main area -->

      <!-- COPY SECTION STOP -->

    </div>
  </div>
</div>
