<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="styles/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="styles/vendor/font-awesome.min.css">
  <link rel="stylesheet" href="styles/vendor/angular-responsive-tables.min.css">
  <link rel="stylesheet" href="styles/vendor/ngDialog.min.css">
  <link rel="stylesheet" href="styles/vendor/ngDialog-theme-default.min.css">
  <link rel="stylesheet" href="styles/bar.css">
  <link rel="stylesheet" href="styles/vendor/angular-datepicker.min.css">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <style>*[ng-cloak] { display: none}</style>

  <!--  ********************************************************* -->
  <!--                          GLOBALS                         -->
  <!--  ********************************************************* -->
  <script>
    window.appName = 'causeathon'; // replace "causeathon" with a server variable eg: "<%=application%>"
    window.appURLprifix = 'http://test.joinmyevent.com:8080/ems' ;
  </script>



  <!--  ********************************************************* -->
  <!--                          IMPORTANT                         -->
  <!--  Include base tag if suitable and change line 61 in app.js -->
  <!--  ********************************************************* -->
  <base href = "/app/">
  <!--replace "causeathon" with a server variable "<%=application%>" -->

  <style>
    /********************  FIX FOR DATE PICKER ******************/
    ._720kb-datepicker-calendar{
      max-width: 300px;
    }
  </style>

</head>
<body ng-app="frApp" ng-controller="IndexCtrl" ng-cloak>
<!--[if lte IE 8]>
<p class="browseHappy">Update your browser for better experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="bannerWithSiteLogo">
  <a href="http://www.joinmyevent.com/" target="_blank">
    <img ng-src="images/joinmyeventLogo.png" class="img-responsive">
  </a>
</div>
<div class="loading" ng-show="false">Loading&#8230;</div>
<div class="container MainOuter">
  <div class="row" ng-if="location.path()==='/buy' || location.path() ==='/event'">
    <div class="col-md-offset-1 col-md-10">
      <img ng-src="{{image.src}}" alt="img" class="EventBannerImage" ng-if="image.show">
      <div class="transparencyLayer FirstBannerText" ng-if="image.show">
        <span class="bannerText">{{eventName}}</span>
      </div>
      <!-- redundancy to show different Background if no image is present -->
      <div class="transForNoBgImage" ng-if="!image.show">
        <span class="bannerText">{{eventName}}</span>
      </div>
      <!--  redundancy end  -->
    </div>
  </div>
  <div class="row" ng-if="location.path()==='/buy' || location.path() ==='/event'">
    <div class="col-md-offset-1 col-md-10">
      <ul class="nav nav-tabs nav-justified tabSelector">
        <li role="presentation" ng-class="{active:location.path() =='/event'}">
          <a ng-click="location.path('/event')">Event Details</a>
        </li>
        <!--
        <li role="presentation" ng-class="{active:tab ==='organiser'}">
          <a href="#/organiser" ng-click="setTabActive('organiser')">Organiser Details</a>
        </li>
        -->
        <li role="presentation" ng-class="{active:location.path() =='/buy'}">
          <a ng-click="location.path('/buy')">Buy Tickets</a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-view=""></div>
</div>

<div class="footer"><strong>&copy;&nbsp; EMS. All Rights Reserved</strong></div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="scripts/vendor/angular.min.js"></script>
<script src="scripts/vendor/angular-route.min.js"></script>
<script src="scripts/vendor/ng-map.min.js"></script>
<script src="scripts/vendor/angular-responsive-tables.min.js"></script>
<script src="scripts/vendor/api-check.min.js"></script>
<script src="scripts/vendor/formly.min.js"></script>
<script src="scripts/vendor/angular-formly-templates-bootstrap.min.js"></script>
<script src="scripts/vendor/ngDialog.min.js"></script>
<script src="scripts/bar.js"></script>
<script src="scripts/vendor/angular-datepicker.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/index.js"></script>
<script src="scripts/controllers/event.js"></script>
<script src="scripts/controllers/organiser.js"></script>
<script src="scripts/controllers/buy.js"></script>
<script src="scripts/controllers/payu.js"></script>
<script src="scripts/services/getjsonfromserver.js"></script>
<script src="scripts/controllers/iamlost.js"></script>
<script src="scripts/controllers/registrationdetails.js"></script>
<script src="scripts/controllers/registration/stepone.js"></script>
<script src="scripts/controllers/registration/steptwo.js"></script>
<script src="scripts/controllers/registration/stepthree.js"></script>
<script src="scripts/controllers/rescue.js"></script>
<!-- endbuild -->


</body>
</html>
