<div style="padding: 5%;">
  <div class="row" >
    <div class="col-md-offset-1 col-md-10 showBorder">
      <table class="table table-bordered  table-hover">
        <thead class="colouredHead">
        <tr>
          <th>Ticket Category</th>
          <th>Ticket Price</th>
          <th>No Of Tickets</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody class="dataCell">
        <tr>
          <td>7 km</td>
          <td>400.0</td>
          <td>
            <select>
              <option>select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </td>
          <td>0.00</td>
        </tr>
        <tr>
          <td>General</td>
          <td>200.0</td>
          <td>
            <select>
              <option>select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </td>
          <td>0.00</td>
        </tr>
        <tr>
          <td>Children</td>
          <td>0.0</td>
          <td>
            <select>
              <option>select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </td>
          <td>0.00</td>
        </tr>
        <tr>
          <td>Child With Autism</td>
          <td>0.0</td>
          <td>
            <select>
              <option>select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </td>
          <td>0.00</td>
        </tr>
        </tbody>
        <tfoot class="colouredHead">
        <tr>
          <th colspan="2">Total</th>
          <th>x</th>
          <th>y</th>
        </tr>
        </tfoot>
      </table>
      <div class="row">
      <strong>* Discounts will be applied at the time of confirmation.
        Kindly follow the instructions on confirmation page. </strong>
      </div>
    </div>
  </div>
</div>
