<div style="padding: 5%;">
  <div class="row" >
    <div class="col-md-offset-1 col-md-10 showBorder table-responsive hidden-xs hidden-sm">
      <table class="table table-bordered table-hover">
        <thead class="colouredHead">
        <tr>
          <th>Ticket Category</th>
          <th>Ticket Price</th>
          <th>No Of Tickets</th>
          <th>Total Price</th>
        </tr>
        </thead>

        <tbody class="dataCell">
        <tr ng-repeat="cat in tickets.category">
          <td>{{cat.type}}</td>
          <td>{{cat.price}}</td>
          <td>
            <select ng-model="cat.tckt" ng-change="updateTotalCost();">
              <option value="0">select</option>
              <option ng-repeat="i in [1,2,3,4,5,6,7,8,9]" value="{{i}}">{{i}}</option>
            </select>
          </td>
          <td>{{cat.tckt * cat.price}}</td>
        </tr>
        </tbody>
        <tfoot class="colouredHead">
        <tr>
          <th colspan="2">Total</th>
          <th>{{tickets.totalTicketSelected}}</th>
          <th>{{tickets.netCost}}</th>
        </tr>
        </tfoot>
      </table>
      <div class="row">
        <strong>* Discounts will be applied at the time of confirmation.
          Kindly follow the instructions on confirmation page. </strong>
      </div>
    </div>

    <div class="col-xs-12 hidden-md hidden-lg mtv">
      <button class="round-btn red-btn btn-align-right hidden-md hidden-lg" data-toggle="modal" data-target="#myModal" ng-click="setMobileViewDataStructuresToZero();">
        <i class="fa fa-plus"></i>
      </button>
      <h2>Ticket Details : </h2>
      <h2 ng-if="tickets.totalTicketSelected === 0"><small>No ticket selected<br>click <span class="fa fa-plus-circle"></span> button to add new ticket.</small></h2>
      <h3><small>Total for {{tickets.totalTicketSelected}} tickets : </small>
        <span>INR {{tickets.netCost}}</span></h3>
      <h4 ng-if="tickets.totalTicketSelected !== 0">* Discounts will be applied at the time of confirmation.
        Kindly follow the instructions on confirmation page.</h4>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select ticket to add</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="type">Category</label>
            <select class="form-control" ng-model="mobileForm.selectCategory" id="type" ng-init="mobileForm.selectCategory='0'">
              <option value="0">select</option>
              <option ng-repeat="cat in tickets.category" value="{{cat.type}}">
                {{cat.type}} [ INR {{cat.price}} ]
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="quant">Quantity</label>
            <select class="form-control" ng-model="mobileForm.selectQuantity" id="quant" ng-init="mobileForm.selectQuantity='0'">
              <option value="0">select</option>
              <option ng-repeat="i in [1,2,3,4,5,6,7,8,9]" value="{{i}}">{{i}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTotalCostOnMobileView();">Add</button>
      </div>
    </div>
  </div>
</div>
