<div style="padding: 5%;" ng-controller="EventCtrl">
  <div class="row" >
    <div class="col-md-offset-1 col-md-10 showBorder">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-calendar"></i>
          <span>{{event.eventDate}}</span>
        </div>
        <div class="col-md-3">
          <i class="fa fa-clock-o"></i>
          <span>{{event.eventTime}}</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <i class="fa fa-map-marker"></i> &nbsp;
          {{event.address}}
          <div style="float: right;">
          <button class="btn btn-info" ng-click="ShowMap = !ShowMap">
            <span ng-if="!ShowMap">Show Map</span>
            <span ng-if="ShowMap">Hide Map</span>
          </button>
        </div>
        </div>
        
        <div class="col-md-12 MapView" ng-if="ShowMap" ng-init="ShowMap = false">
          <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="{{event.position.latitude}},{{event.position.longitude}}" zoom="{{event.position.zoom}}">
              <marker position="{{event.position.latitude}},{{event.position.longitude}}"></marker>
            </ng-map>
          </div>
        </div>
        <hr>
        <hr>
        <div class="col-md-12" ng-bind-html="event.description()">
        </div>

      </div>
    </div>
  </div>
</div>
