<div class="row " ng-controller="EventCtrl" ng-cloak>

  <!-- Tab bar ~~IMPORTANT~~ changes should be copied to buy.html also -->
  <div class="col-md-offset-1 col-md-10" style="padding: 25px; background-color:white">
    <div class="row">
      <div class="col-md-2 StateButton" ng-class="{active:location.path() =='/event'}" ng-click="location.path('/event')">
        Event Details
      </div>
      <div class="col-md-2 StateButton" ng-class="{active:location.path() =='/buy'}" ng-click="location.path('/buy')">
        Buy Tickets
      </div>
      <div class="col-md-8 text-right EventOrganiserContainer hidden-xs hidden-sm">
        <section class="eventTextWrapper">
          <span class="EventOrganiser">Event Organised By</span>
          <br>
          <span class="eventText EventOrganiserValue" ng-click="ShowOrganiserDetails();">
            <strong>{{organiser.manager}}</strong>
          </span>
        </section>
      </div>
      <div class="col-xs-12 EventOrganiserContainer hidden-md hidden-lg">
        <section class="eventTextWrapper">
          <span class="EventOrganiser">Event Organised By</span>
          <br>
          <span class="eventText EventOrganiserValue" ng-click="ShowOrganiserDetails();">
            <strong>{{organiser.manager}}</strong>
          </span>
        </section>
      </div>
    </div>
  </div>
  <!-- Tab bar Ends -->

  <div class="col-md-offset-1 col-md-10" style="padding: 25px; background-color:white">
    <div class="row">
      <!-- main description -->
      <div class="col-md-9" ng-bind-html="event.description()">
      </div>
      <!-- main description Ends -->

      <!-- side floating boxes -->
      <div class="col-md-3">
        <section>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Date  & Time
            </div>
            <div class="panel-body">
              <i class="fa fa-calendar"></i>
              <span>{{event.eventDate}}</span>
              <br>
              <i class="fa fa-clock-o"></i>
              <span>{{event.eventTime}}</span>
            </div>
          </div>
        </section>
        <section>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Location
            </div>
            <div class="panel-body">
              <i class="fa fa-map-marker"></i> &nbsp;
              {{event.address}}
              <hr>
              <button class="btn btn-default btn-block" ng-click="ShowOnMaps()">Show on map</button>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- side floating boxes -->

  </div>
</div>
</div>
