<div style="padding: 5%;">
  <div class="row" >
    <div class="col-md-offset-1 col-md-10 showBorder">
      <i class="fa fa-user"></i>
      <span class="eventText">Mandar Varadkar</span>
      <hr class="blackRule">
      <i class="fa  fa-location-arrow"></i>
      <span class="eventText"><em>Jogeshwari east</em></span>
      <hr class="blackRule">
      <i class="fa fa-phone"></i>
      <span class="eventText">9869460225 </span>
      <br>
      <i class="fa fa-envelope"></i>
      <span class="eventText">mandar.varadkar@gmail.com</span>
    </div>
  </div>
</div>
