

<div ng-bind-html="renderHtml()" ng-controller="payUCtrl">


</div>

      <!--   <form id="payuForm" action="https://test.payu.in/_payment" method="post"  ng-controller="payUCtrl" >
            <input type="text"  name="key" id="merchantKey" ng-model="payuData.merchantKey" ng-value="{{payuData.merchantKey}}"   value="{{payuData.merchantKey}}"/>
            <input type="text"  name="txnid"  id="txnid" ng-model="payuData.txnid" ng-value="{{payuData.txnid}}"   value="{{payuData.txnid}}"/>
            <input type="text"  name="amount" id="amount" ng-model="payuData.amount"   ng-value="{{payuData.amount}}" value="{{payuData.amount}}"/>
           <input type="text"  name="productinfo" id="productinfo"   ng-model="payuData.productinfo" ng-value="{{payuData.productinfo}}"   value="{{payuData.productinfo}}"/>  
            <input type="text"  name="firstname" id="firstname" ng-model="payuData.firstname" ng-value="{{payuData.firstname}}" value="{{payuData.firstname}}"/>
            <input type="text"  name="lastname" id="lastname" ng-model="payuData.lastname" ng-value="{{payuData.lastname}}" />           
            <input type="text"  name="email" id="email" ng-model="payuData.email"  ng-value="{{payuData.email}}" />
            <input type="text"  name="phone" id="phone" ng-model="payuData.phone"  ng-value="{{payuData.phone}}" />
               
            <input type="text"  name="surl"    id="surl"   />
            <input type="text"  name="furl"  id="furl" />
            <input type="text"  name="curl" id="curl"/>  
            
             <input type="text"  name="hash" id="hash" ng-model="payuData.hash" ng-value="{{payuData.hash}}" />             
        </form> -->

     
