<div class="row" >
  <div class="col-md-12 col-xs-12">
    <div class="container-fluid">
      <div class="row">
        <h3 class="RegCenterText">Participants Registrations</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="#">Participants Registrations</a></li>
            <li role="presentation"><a href="#">Buyer Information</a></li>
            <li role="presentation"><a href="#">Verify Registration</a></li>
          </ul>
        </div>
      </div>
      <!-- participant form start -->
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3 sidebar">
          <ul class="nav nav-sidebar" ng-repeat="TicketGroup in tickets">
            <li class="nav-sidebar-title">Type : {{TicketGroup.ticketName}}</li>
            <li ng-repeat="item in TicketGroup.participantInformation track by $index">
              <a ng-click="Progress.setStep(Progress.getLinearIndex($parent.$index-1, $index))">Ticket #{{$index+1}}
                <span class="fa floatRight fa-dot-circle-o"
                      ng-if="Progress.getLinearIndex($parent.$index-1, $index) == Progress.current"></span>
                <span class="fa fa-check-circle-o floatRight"
                      ng-if="Progress.IsMarkedFilled(Progress.getLinearIndex($parent.$index-1, $index))"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <form class="form-horizontal form-inline">

            <label>Copy Contents from</label>
            <select class="form-control" ng-change="Progress.copyFrom()" ng-model="Progress.copyFromTicketNumber"
                    ng-init="Progress.copyFromTicketNumber='select'">
              <option>Select Ticket</option>
              <option ng-repeat-start="TicketGroup in tickets" class="disabled" disabled>{{TicketGroup.ticketName}}</option>
              <option ng-repeat="item in TicketGroup.participantInformation track by $index"
              ng-value="Progress.getLinearIndex($parent.$index-1, $index)">Ticket #{{$index+1}}</option>
              <option ng-repeat-end class="divider" disabled>------</option>
            </select>
            <button class="btn btn-warning" ng-click="Progress.clearAllValues()">Clear All Fields</button>

            <div class="navbar-right" style="margin-right: 5px;">
              <button ng-disabled="Progress.isFirst(Progress.current)" class="btn btn-danger" ng-click="Progress.previousStep()">
                <span class="fa fa-chevron-left"></span>
                Prev
              </button>
              <button ng-disabled="Progress.isLast(Progress.current)" class="btn btn-danger" ng-click="Progress.nextStep()">
                Next
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>

          </form>

          <!-- Static form -->
<!--          <div>
            <hr>
            <form id="UserRegForm">
              <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" ng-model="formData.FirstName" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" ng-model="formData.LastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <label>Gender</label>
                <div class="form-inline">
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="formData.gender" id="optionsRadioMale" value="male" ng-init="'male'">
                      Male
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="formData.gender" id="optionsRadioFemale" value="Female">
                      Female
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="dob">Date Of Birth</label>
                <input type="date" class="form-control" id="dob" ng-model="formData.dob" placeholder="Date of Birth">
              </div>

              <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" id="Address" form="UserRegForm" ng-model="formData.address" placeholder="Address"></textarea>
              </div>

              <div class="form-inline">
                <div class="form-group">
                  <label for="zip">Pin Code</label>
                  <input type="text" class="form-control" id="zip" ng-model="formData.zip" placeholder="zip">
                </div>

                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" ng-model="formData.city" placeholder="City">
                </div>

                <div class="form-group">
                  <label for="country">Country</label>
                  <select class="form-control" id="country" ng-model="formData.country"
                          ng-init="formData.country='india'">
                    <option value="india">India</option>
                    <option value="other">Other</option>
                  </select>
                </div>

              </div>

              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" id="mobile" ng-model="formData.mobile" placeholder="Mobile Number">
              </div>

              <div class="form-group">
                <label for="EmailAddress">Email Address</label>
                <input type="email" class="form-control" id="EmailAddress" ng-model="formData.email" placeholder="Email Address">
              </div>

              <div class="form-group">
                <label for="tShirtSize">T-shirt Size</label>
                <select class="form-control" id="tShirtSize" ng-model="formData.tShirt" ng-init="formData.tShirt=0">
                  <option value="0">select</option>
                </select>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> I Agree to terms and conditions
                </label>
              </div>
              <button type="submit" class="btn btn-primary" ng-if="!Progress.isLast(Progress.current)"
                      ng-click="Progress.CheckAndProceedToNextStep();">Save Details for this Participant</button>
              <button type="submit" class="btn btn-primary" ng-if="Progress.isLast(Progress.current)"
                      ng-click="Progress.NextPhase();">Proceed to fill Billing Details</button>
              <hr>
            </form>
          </div>
-->
          <!-- static form  End -->

          <!-- dynamic form start -->
          <div ng-repeat="ticket in tickets">
            <formly-form model="ticket.vm.user" fields="ticket.vm.userFields" ng-if="ProgressTicketIndex() == $index">
              <button type="submit" class="btn btn-primary" ng-if="!Progress.isLast(Progress.current)"
                      ng-click="Progress.CheckAndProceedToNextStep();">Save Details for this Participant</button>
              <button type="submit" class="btn btn-primary" ng-if="Progress.isLast(Progress.current)"
                      ng-click="Progress.NextPhase();">Proceed to fill Billing Details</button>
            </formly-form>
            <!-- dynamic form end -->
          </div>


        </div>
      </div>
      <!-- participant form stop -->

      <!-- billing form start -->
      <div>
        <hr>
        <form id="BillingForm">
          <div class="form-group">
            <label for="FirstName">First Name</label>
            <input type="text" class="form-control" ng-model="billing.FirstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="LastName">Last Name</label>
            <input type="text" class="form-control" ng-model="billing.LastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label>Gender</label>
            <div class="form-inline">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="billing.gender" value="male" >
                  Male
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="billing.gender" value="Female">
                  Female
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="date" class="form-control" ng-model="billing.dob" placeholder="Date of Birth">
          </div>

          <div class="form-group">
            <label for="Address">Address</label>
            <textarea class="form-control" form="BillingForm" ng-model="billing.address" placeholder="Address"></textarea>
          </div>

          <div class="form-inline">
            <div class="form-group">
              <label for="zip">Pin Code</label>
              <input type="text" class="form-control" ng-model="billing.zip" placeholder="zip">
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" ng-model="billing.city" placeholder="City">
            </div>

            <div class="form-group">
              <label for="country">Country</label>
              <select class="form-control" ng-model="billing.country">
                <option value="india">India</option>
                <option value="other">Other</option>
              </select>
            </div>

          </div>

          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="text" class="form-control" ng-model="billing.mobile" placeholder="Mobile Number">
          </div>

          <div class="form-group">
            <label for="EmailAddress">Email Address</label>
            <input type="email" class="form-control" ng-model="billing.email" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label for="tShirtSize">T-shirt Size</label>
            <select class="form-control" ng-model="billing.tShirt">
              <option value="0">select</option>
            </select>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox"> I Agree to terms and conditions
            </label>
          </div>
          <button type="submit" class="btn btn-primary" ng-if="Progress.isLast(Progress.current)"
                  ng-click="Progress.NextPhase();">Proceed</button>
          <hr>
        </form>
      </div>
      <!-- billing form stop -->

      <!-- Review start -->
      <!-- Review stop -->
    </div>
  </div>
</div>

