<div class="row" ng-cloak>
  <div class="col-md-12 col-xs-12">
    <div class="container-fluid">
      <div class="row">
        <h3 class="RegCenterText">Participants Registrations</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" ng-class="{'active':CurrentVIEW === 0}" ng-click="setCurrentView(0)">
              <a>Participants Registrations</a></li>
            <li role="presentation" ng-class="{'active':CurrentVIEW === 1}" ng-click="setCurrentView(1)">
              <a>Buyer Information</a></li>
            <li role="presentation" ng-class="{'active':CurrentVIEW === 2}" ng-click="setCurrentView(2)">
              <a>Verify Registration</a></li>
          </ul>
        </div>
      </div>
      <!-- participant form start -->
      <div class="row" style="margin-top: 25px;" ng-if="CurrentVIEW === 0">
        <div class="col-md-3 sidebar">
          <ul class="nav nav-sidebar" ng-repeat="TicketGroup in tickets">
            <li class="nav-sidebar-title">Type : {{TicketGroup.ticketName}}</li>
            <li ng-repeat="item in TicketGroup.participantInformation track by $index">
              <a ng-click="Progress.setStep(Progress.getLinearIndex($parent.$index-1, $index))">Ticket #{{$index+1}}
                <span class="fa floatRight fa-dot-circle-o"
                      ng-if="Progress.getLinearIndex($parent.$index-1, $index) == Progress.current"></span>
                <span class="fa fa-check-circle-o floatRight"
                      ng-if="Progress.IsMarkedFilled(Progress.getLinearIndex($parent.$index-1, $index))"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <form class="form-horizontal form-inline" ng-if="CurrentVIEW === 0">

            <label>Copy Contents from</label>
            <select class="form-control" ng-change="Progress.copyFrom()" ng-model="Progress.copyFromTicketNumber"
                    ng-init="Progress.copyFromTicketNumber='select'">
              <option>Select Ticket</option>
              <option ng-repeat-start="TicketGroup in tickets" class="disabled" disabled>{{TicketGroup.ticketName}}</option>
              <option ng-repeat="item in TicketGroup.participantInformation track by $index"
              ng-value="Progress.getLinearIndex($parent.$index-1, $index)">Ticket #{{$index+1}}</option>
              <option ng-repeat-end class="divider" disabled>------</option>
            </select>
            <button class="btn btn-warning" ng-click="Progress.clearAllValues()">Clear All Fields</button>

            <div class="navbar-right" style="margin-right: 5px;">
              <button ng-disabled="Progress.isFirst(Progress.current)" class="btn btn-danger" ng-click="Progress.previousStep()">
                <span class="fa fa-chevron-left"></span>
                Prev
              </button>
              <button ng-disabled="Progress.isLast(Progress.current)" class="btn btn-danger" ng-click="Progress.nextStep()">
                Next
                <span class="fa fa-chevron-right"></span>
              </button>
            </div>

          </form>

          <!-- dynamic form start -->
          <form ng-repeat="ticket in tickets" ng-if="CurrentVIEW === 0" name="ticket.vm.user">
            <formly-form model="ticket.vm.user" fields="ticket.vm.userFields" ng-if="ProgressTicketIndex() == $index">
              <button type="submit" class="btn btn-primary" ng-if="!Progress.isLast(Progress.current)"
                      ng-click="Progress.CheckAndProceedToNextStep();" ng-disabled="ShowProceedButton();">Save Details for this Participant</button>
              <button type="submit" class="btn btn-primary" ng-if="Progress.isLast(Progress.current)"
                      ng-click="Progress.NextPhase();"  ng-disabled="ticket.vm.user.$invalid">Proceed to fill Billing Details</button>
              <hr>
            </formly-form>
            <!-- dynamic form end -->
          </form >


        </div>
      </div>
      <!-- participant form stop -->

      <!-- billing form start -->
      <div ng-if="CurrentVIEW === 1" class="col-md-offset-2 md-col-8">
        <h3>Fill In Billing details</h3>
        <formly-form model="payment.UserDetails" fields="payment.Fields">
          <button type="submit" class="btn btn-primary" ng-click="payment.submit(payment.UserDetails);">
            Proceed to fill Billing Details
          </button>
          <hr>
        </formly-form>
      </div>
      <!-- billing form stop -->

      <!-- Review start -->
      <div ng-if="CurrentVIEW === 2">
        <h2>Please Review your Data..</h2>
        <h3>Participant Details</h3>
        <table class="table table-bordered table-hover" wt-responsive-table>
          <thead>
            <tr>
              <th ng-repeat="(key,value) in ParticipantDetails[0]">{{key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Participant in ParticipantDetails">
              <td ng-repeat="(k,v) in Participant">{{v}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <h3>Billing Details</h3>
        <table class="table table-bordered table-hover" wt-responsive-table>
          <thead>
          <tr>
            <th ng-repeat="(key,value) in BillingUserDetails">{{key}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td ng-repeat="(k,v) in BillingUserDetails">{{v}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Review stop -->
    </div>
  </div>
</div>

